
body {
    padding-top: 10px;
    padding-bottom: 20px;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 500px;
    background: #fff url(../images/bg.jpg) repeat top left;
}


.zf-green {
    color: #68b604;
}

.btn-success {
    background-color: #57a900;
    background-image: -moz-linear-gradient(top, #70d900, #57a900);
    background-image: -ms-linear-gradient(top, #70d900, #57a900);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#70d900), to(#57a900));
    background-image: -webkit-linear-gradient(top, #70d900, #57a900);
    background-image: -o-linear-gradient(top, #70d900, #57a900);
    background-image: linear-gradient(top, #70d900, #57a900);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#70d900', endColorstr='#57a900', GradientType=0);
}

.btn-success:hover,
.btn-success:active,
.btn-success.active,
.btn-success.disabled,
.btn-success[disabled] {
    background-color: #57a900;
}

.btn-success:active, .btn-success.active {
    background-color: #57a900;
}

#menu{
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 40px;
    height: 30px;
    
}

.ulmenu { 

    list-style-type: none; /* retira o marcador de listas*/ 
}
.ulmenu li{
    margin-bottom: 10px;
}
#response{
    background-image: url('../images/Clinica-logo.gif');
    background-repeat: no-repeat;
    background-position: center;
    height: 400px;
}
.container{
    padding-top: 70px;
}
div.container a.brand {
    background: url("../images/zf2-logo.png") no-repeat scroll 0 10px transparent;
    margin-left: 0;
    padding: 8px 20px 12px 40px;

}

#footer{
    padding-left: 10px;
    padding-top: 60px;
    
}

